main h1{
  text-align: center;
  align-items: center;
  margin-left: 150px;
  margin-bottom: 10px;
}
#panier form {
  display: flex;
  width: 70%;
  margin-left: 20%;
  margin-bottom: 5%;
}

#panier form input[type="text"] {
  padding: 10px;
  width: 50px;
}

#panier form table {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

#panier form thead th {
  background: white;
  font-size: 12px;
  font-weight: 100;
  height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}

#supp {
  padding-right: 30px;
  padding-left: 30px;
}

#panier form a {
  color: black;
}

#panier form th,
td {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  width: 20%;
  text-transform: uppercase;
  padding : 5px; 
}

#panier img {
  box-shadow: 0 0 15px black;
}

#panier form tr {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  background-color: #fff;
}

#panier form td {
  border-bottom: 1px solid #fff;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #fff;
}

 #validerpanier{
  margin-left: 30%;
 }

 #prixtotal{
   padding-top: 20%;
 }
