*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: 0;
    text-decoration: none; 
    /* font-family: ; */
}

body{
    background: blue;
}

.conteneur{
    display: flex;
    position: relative;
}

.conteneur .sidebar{
    position: fixed; 
    width: 200px;
    height: 100%;
    background: cadetblue;
    padding: 30px 0;
}

.conteneur .sidebar h2{
    color: white; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px
}

.conteneur .sidebar ul li{
    padding: 15px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.conteneur .sidebar ul li a{
    color: white; 
    display: block;
}

.conteneur .sidebar ul li a .fas{
    width: 25px;
}

.conteneur .sidebar ul li:hover{
    background-color: red;
}

.conteneur .sidebar ul li:hover a{
    color: #fff;
}

.conteneur .sidebar .social_media{
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
}

.conteneur .sidebar .social_media a{
    display: block;
    width: 20px;
    background : #1e7aa5; 
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.conteneur .sidebar .social_media a{

}

/* Dropdown Button */
.dropbtn {
    background-color: cadetblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /* width: 200px; */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: cadetblue;}

