.wrapper_produitsphares{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper_produitsphares h1{
    margin-left: 15%;
    margin-bottom: 35px;
}

.wrapper_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin-left: 17%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.displayItems{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left:2.5% ;
    margin-right:2.5% ;
    margin-bottom: 50px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    font-family: 'Arvo', serif;
      
}
.displayItems:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

.displayItems img{
    width: 150px;
    height: 220px; 
    /* box-shadow: 6px 6px 10px black; */
}

.displayItems a{
    text-align: center;
    align-items: center;
}

.intro{
    margin-left: 210px; 
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Arvo', serif;
}

.intro p{
    margin-left: 40px;
    margin-right: 60px;
    padding : 20px;
}

.wrapper_produitsphares h2{
    margin-left: 170px;
    margin-bottom: 30px;
    font-family: 'Zilla Slab Highlight', cursive; 
    color :#686d76; 
}

.wrapper_produitsphares h1{
    font-family: 'Zilla Slab Highlight', cursive; 
    color :#686d76; 
    font-size: 60px;
}

