main{
    margin-left: 300px;
}

.userInfo{
    display: flex;
}

.userInfo p{
    margin-right: 5px;
    font-size: x-large;
}

.User{
font-family: 'Zilla Slab Highlight', cursive;
color:#717171;
font-size: x-large;
}

.wrapper_userInfo h1{
    font-family: 'Zilla Slab Highlight', cursive;
    color:#717171;
    margin-left: 25%;
    margin-bottom: 10%;
}

.echo{
    font-family: 'Arvo', serif;
}

.wrapper_info{
    border: solid 1px;
    padding: 50px;
    margin-right: 100px;
    box-shadow: 0 0 15px #19d3da;
}

.displayItems{
    margin-bottom: 25px;
}

.linkUpdate{
    margin-left: 36%;
    font-size: 25px;
    font-family: 'Arvo', serif;
}
.linkUpdate:visited{
    text-decoration: none;
    color: #19d3da;
}

.linkUpdate:hover{
    text-decoration: underline;
    color: #19d3da;
}
