.wrapper_categories{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper_categories h1{
    margin-left: 15%;
    margin-bottom: 20px;
    font-family: 'Zilla Slab Highlight', cursive;
    color:#717171
}

.item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin-left: 20%;
    align-items: center;
    justify-content: center;
}

.displayItems{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left:2.5% ;
    margin-right:2.5% ;
    margin-bottom: 50px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    font-family: 'Arvo', serif;
      
}
.displayItems:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

.displayItems img{
    width: 150px;
    height: 220px; 
    /* box-shadow: 6px 6px 10px black; */
}

.displayItems a{
    text-align: center;
    align-items: center;
    
}